@use 'sass:math';
@use 'variables' as *;

.g-row {

    @supports (display: flex) {
        display: flex;
        flex-wrap: wrap;
    }

    @supports not (display: flex) {
        display: block;
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }

    margin-right: - math.div($grid-gutter, 2);
    margin-left: - math.div($grid-gutter, 2);

    @each $gutter in $grid-gutter-modifiers {
        $modifier: nth($gutter, 1);
        $multiplier: nth($gutter, 2);

        &--#{$modifier} {
            margin-right: - math.div($grid-gutter, 2) *  $multiplier;;
            margin-left: - math.div($grid-gutter, 2) *  $multiplier;;
        }
    }

    &--full {
        width: calc(100% + #{$grid-gutter});
    }

    &--center {
        align-items: center;
    }

    &--bottom {
        align-items: flex-end;
    }

    &--reverse {
        flex-direction: row-reverse;
    }
}