@use 'sass:math';

.g-wrap {
    display: block;
    width: calc($grid-width - (#{$grid-gutter} * 2));
    margin-right: auto;
    margin-left: auto;

    &:not(&--fluid) {
        @each $breakpoint in $grid-breakpoints {
            $key: nth($breakpoint, 1);
            $val: nth($breakpoint, 2);
    
            @if $key != 'xs' {
                @media (min-width: #{$val}) {
                    width: calc($grid-width);
                    max-width: $val;
                }
            }
        }
    }

}